
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nerko One', cursive;
    }
    :root{
        --primary:rgb(209, 228, 36);
    }
    nav {
        background-color: var(--primary);
        text-align: center;
    }
       .main{
           margin: auto;
           max-width: 80%;
           padding: 1rem;
       }
       textarea{
           width: 80%;
           height: 10vh;
           display: block;
           padding: 1rem;
           margin: 1rem;
       }
       #inputbtn{
           margin: 0rem 1rem;
       }
       #outputtxt{
           width: 80%;
           height: 10vh;
           display: block;
           padding: 1rem;
           margin: 1rem;
           border: 1px solid black;
       }
      
       footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background-color: var(--primary);
        text-align: center;
       }